:host {
  md-sidenav-container {
    position: relative;
    md-sidenav {
      width: 200px;
      height: 100%;
      md-list > md-list-item {
        cursor: pointer;
      }
    }
    #detail--button {
      z-index: 100;
      position: absolute;
      top: 24px;
      right: 15%;
      width: 75px;
      height: 36px;
    }
  }
}