<md-sidenav-container>
  <md-sidenav #left mode="side" align="start">
    <md-list dense>
      <md-list-item *ngFor="let data of (mainData | async)"
                     (click)="selected = data.id"
                    [class.selected]="selected === data.id">{{ data.name }}</md-list-item>
    </md-list>
  </md-sidenav>
  <md-sidenav id="right" mode="push" #right align="end">
    <pagination [data]="paginationData | async"></pagination>
  </md-sidenav>
  <chart [data]="chartData | async"></chart>
  <button md-raised-button
          class="mat-primary" id="detail--button"
          [hidden]="!selected || right.opened"
          (click)="onDetailsClick()">Details</button>
</md-sidenav-container>
<div id="spinner" [hidden]="!loading">
  <md-progress-circle></md-progress-circle>
</div>
