<md-sidenav-container>
  <md-sidenav #left mode="side" align="start">
    <md-list dense>
      <md-list-item *ngFor="let data of (mainData | async)"
                     (click)="selected = data.id"
                    [class.selected]="selected === data.id">{{ data.name }}</md-list-item>
    </md-list>
  </md-sidenav>
  <md-sidenav #right align="end">
    <pagination *ngIf="right.opened" [data]="paginationData | async"></pagination>
  </md-sidenav>
  <chart [data]="chartData | async"></chart>
  <button md-button id="detail--button" (click)="onDetailsClick()">Details</button>
</md-sidenav-container>
