@import "../../../styles/variables";

:host {
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  md-grid-list {
    md-grid-tile.header {
      background-color: mat-color(map_get($theme, primary), lighter);
    }
  }
  #container {
    overflow: auto;
    height: calc(100% - 88px);
    md-grid-list {
      md-grid-tile {
        font-size: 0.8rem;
        min-font-size: 12px;
        &.header {
          background-color: mat-color(map_get($theme, primary), lighter);
        }
      }
    }
  }

  #pagination {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    background-color: white;
    height: 60px;
    width: 100%;
  }
}

#server > pagination-template > ul {
  box-sizing: border-box;
  padding: 0;
  margin-top: 0;
  margin-bottom: 8px;
}