@import 'variables';

@import '~@angular/material/core/core';
@include mat-core();

// Material Design Component themes
@import '~@angular/material/sidenav/sidenav-theme';
@include mat-sidenav-theme($theme);

@import '~@angular/material/list/list-theme';
@include mat-list-theme($theme);

@import '~@angular/material/button/button-theme';
@include mat-button-theme($theme);

@import '~@angular/material/grid-list/grid-list-theme';
@include mat-grid-list-theme($theme);

html, body, app, main-view, md-sidenav-container {
  font-family: Roboto, Material Icons, serif;
  user-select: none;

  //reset values
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  // No selectable
  -moz-user-select: none !important;
  user-select: none !important;
}

[hidden] {
  display: none !important;
}

#server > pagination-template > ul.ng2-pagination > li {
  font-family: Roboto;
  font-size: 1rem !important;
  cursor: pointer !important;
  .disabled {
    cursor: not-allowed !important;
  }
}
